{% extends 'HegesAppMainBundle:Default:hegesappbase.html.twig' %}
{% block hegesappbody %}
<p><h1 class="tabla_datos">Error en la generación de la gráfica para el nodo {{ nodename }}.</h1></p>
<form><input type="button" value="CERRAR" onclick="window.open('', '_self', ''); window.close();"></form>
{% endblock hegesappbody %}