{% extends 'HegesAppMainBundle:Default:hegesappbase.html.twig' %}
{% block hegesappbody %}
<p><h1 class="tabla_datos">OS - CREAR</h1></p>
<form id="form_datos" action="{{ path('os_create') }}" method="post" {{ form_enctype(form) }}>
{{ form_widget(form) }}</form>
<table class="tabla_datos">
    <tr><td class="tabla_datos_sin_borde"><form><button form="form_datos" type="submit">CREAR</button></form></td>
        <!-- <td class="tabla_datos_sin_borde"><form action="{{ path('os') }}"><button type="submit">ATRAS</button></form></td></tr> -->
        <td class="tabla_datos_sin_borde"><form><input type="button" value="ATRAS" onClick="history.back();"></form></td></tr>
</table>
{% endblock hegesappbody %}
